#container {
    /* #section1 {
        border-bottom-width: 2px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;

        

        #datePicker {
            flex-grow: 1;
            align-self: center;
            justify-self: center;
            margin-right: 20px;
        }
        #btnSearch {
            align-self: center;
            justify-self: center;
            flex-grow: 1;
            margin: 0px;
            font-size: small;
        }
    } */

    #section1 {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        height: calc(75vh);

        .tabContainer {
            ul {
                display: flex;
                flex-direction: row;

                .tab {
                    flex-grow: 1;
                }
            }
        }
        #time-slot-type-content {
            height: 100%;
            overflow-y: auto;
            #timeSlotContainer {
                padding-top: 10px;
                .timeSlotHeader {
                    display: flex;
                    flex-direction: row;
                    margin-right: 20px;
                    margin-left: 20px;
                    .timeSlotHeader-1 {
                        flex-grow: 1;
                        .hallName {
                            font-size: medium;
                            align-self: center;
                            justify-self: center;
                            flex-grow: 1;
                        }

                        .hallType {
                            font-size: medium;
                            align-self: center;
                            justify-self: center;
                            flex-grow: 1;
                        }
                    }

                    .timeSlotHeader-2 {
                        flex-grow: 1;
                        h6 {
                            font-size: larger;
                            font-weight: bold;
                            align-self: center;
                        }
                    }
                }

                .timeSlotBody {
                    overflow-x: auto;
                    margin-bottom: 15px;
                    height: 100px;
                    .timeHeaderContainer {
                        display: grid;
                        width: 1500px;
                        grid-template-columns: repeat(17, 5.8823% [timeHeader]);
                        grid-template-rows: min-content;
                        .timeHeader {
                            justify-self: center;
                        }
                    }

                    .timeSlotsContainer {
                        position: relative;
                        width: 100%;
                        height: 50px;

                        .timeSlotbackground {
                            width: 1500px;
                            position: absolute;
                            z-index: 1;
                            display: flex;
                            flex-direction: row;

                            .emptySpace {
                                width: 2.94%;
                            }
                            .timeSlotLineContainer {
                                display: grid;
                                width: 100%;
                                grid-template-rows: 50px;
                                background: linear-gradient(
                                        to right,
                                        black 1px,
                                        transparent 0px
                                    )
                                    0 0 / calc(100% / 16) 100%;
                            }
                            .line {
                                width: 5.8825%;
                                height: 50px;
                                border-left: ridge #6b7280 1px;
                            }
                            #backLine {
                                border-left: ridge #6b7280 1px;
                            }
                        }

                        .timeSlotItemContainer {
                            display: grid;
                            position: absolute;
                            top: 5px;
                            width: 1500px;
                            grid-template-columns:
                                2.94% [start] repeat(64, 1.47% [timeSlot])
                                2.94% [end];
                            grid-template-rows: 50px;
                            z-index: 2;
                            .timeSlots {
                                margin: 0px;
                                height: 40px;
                                border: solid black 0.25px;
                                display: none;
                            }
                        }
                    }
                }
            }

            .tab-content {
                height: 100%;
                #movieSection1 {
                    height: 400px;
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 20px;
                    margin-bottom: 1rem /* 16px */;
                    border-bottom-width: 1px;
                    border-color: #e5e7eb;
                    #movieSection1-1 {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        .movieLabel {
                            font-size: 16px;
                            line-height: 1.25rem /* 20px */;
                            padding-left: 5px;
                            margin-bottom: 0.5rem;
                            font-weight: 500;
                        }
                        .selector {
                            flex-grow: 1;
                            .select2-container {
                                .select2-selection {
                                    background-color: rgb(249, 250, 251);

                                    .select2-search {
                                        height: 100%;
                                        .select2-search__field {
                                            padding-left: 5px;
                                            margin-left: 5px;
                                            font-size: 0.875rem;
                                            font-family: calibri, sans-serif;
                                        }
                                    }
                                }
                            }
                        }
                        .startTimeInput {
                            flex-grow: 1;
                            width: 80%;
                        }

                        .durationDisplay {
                            flex-grow: 1;
                            width: 80%;
                            #duration {
                                background-color: #c6ccda;
                            }
                        }

                        .endTimeDisplay {
                            flex-grow: 1;
                            width: 80%;
                            #endTime {
                                background-color: #c6ccda;
                            }
                        }
                    }

                    #movieSection1-2 {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        flex-grow: 1;
                        #movPhotoContainer {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-content: center;

                            #movPhoto {
                                background-color: aqua;
                                height: 250px;
                                width: 200px;
                            }
                        }

                        #btnContainer {
                            padding-top: 20px;
                            display: flex;
                            justify-content: center;
                        }
                    }
                }

                #movieSection2 {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    .btn {
                        width: 100px;
                        margin-right: 20px;
                    }
                }

                #maintenanceSection1 {
                    height: 200px;
                    display: flex;
                    flex-direction: row;

                    #maintenanceSection1-1 {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        .maintenanceLabel {
                            font-size: 16px;
                            line-height: 1.25rem /* 20px */;
                            padding-left: 5px;
                            margin-bottom: 0.5rem;
                            font-weight: 500;
                        }
                        .selector {
                            flex-grow: 1;
                            .select2-container {
                                .select2-selection {
                                    background-color: rgb(249, 250, 251);

                                    .select2-search {
                                        height: 100%;
                                        .select2-search__field {
                                            padding-left: 5px;
                                            margin-left: 5px;
                                            font-size: 0.875rem;
                                            font-family: calibri, sans-serif;
                                        }
                                    }
                                }
                            }
                        }
                        .startTimeInput {
                            flex-grow: 1;
                            width: 80%;
                        }
                    }

                    #maintenanceSection1-2 {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        .durationDisplay {
                            flex-grow: 1;
                            width: 80%;
                            #duration {
                                background-color: #c6ccda;
                            }
                        }

                        .endTimeDisplay {
                            flex-grow: 1;
                            width: 80%;
                            #endTime {
                                background-color: #c6ccda;
                            }
                        }
                    }
                }
                #maintenanceSection2 {
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 20px;
                    margin-bottom: 1rem /* 16px */;
                    border-bottom-width: 1px;
                    border-color: #e5e7eb;
                    justify-content: center;
                }

                #maintenanceSection3 {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    .btn {
                        width: 100px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

.numInput {
    user-select: none;
    pointer-events: none;
    cursor: default;
}
