.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-container {
    margin-bottom: 20px;
}

.screen {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.seat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seat-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.seat-label {
    margin-right: 10px;
    font-weight: bold;
    color:white;
}

.seat {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

.seat.changed {
    border: 2px solid #f00;
}

.hallView{
    background: black;
}

.btn btn-primary{

    margin-top: 100px;
}

.hallView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-container {
    margin-bottom: 20px;
}

.screenImg {
    display: block; /* Add this to make the image a block element */
    margin: 0 auto; /* Add this to center the image horizontally */
    margin-bottom: 150px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.standard-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 60px;
}

.standard-left-column, .standard-middle-column, .standard-right-column {
    display: flex;
    flex-direction: row;
}

.standard-left-column {
    justify-content: flex-start;
}

.standard-middle-column {
    justify-content: center;
}

.standard-right-column {
    justify-content: flex-end;
}

.standardSeatImg {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 5px;
}


.premium-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    gap: 100px;
}

.preium-left-column,
.premium-right-column {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.premiumSeatImg {
    width: 20px; 
    height: 20px; 
    object-fit: cover;
    margin: 5px;
}

.familySeatImg{
    width: 150px;
    height: 40px;
    
}

.family-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; /* Add margin for vertical spacing between rows */
  }

.seat-box {
    display: inline-block;
    text-align: center;
}

.seat-info {
    font-size: 12px;
    margin-top: 2px;
    color: white;
}

.btn {
    color: white;
    background: rgb(4 108 78);
    display: inline-block;
    padding: 8px 15px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover{
    background: rgb(3 84 63);
}

.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
    color: white;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 5px #218838;
}

.cancel {
    color: white;
    background: rgb(65 65 65);
    display: inline-block;
    padding: 8px 15px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right:20px;
}

.cancel:hover {
    background: rgb(27 27 27);
}