@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root,
:root {
  --sianema-green: #6ae500;
  --button-green: #214700;
  --button-lighter-green: #3f6a19;
  --white: white;

}