body {
    background-color: black;
}

.default-content {
    margin-left: 10%;
    margin-right: 10%;
}

.btn-primary {
    font-weight: 700;
    background-color: var(--button-green);
    border-color: var(--button-green);
}

.btn-primary-light {
    font-weight: 700;
    background-color: var(--button-lighter-green);
    border-color: var(--button-lighter-green);
}

.btn-primary:hover {
    color: var(--button-green);
    background-color: var(--white);
    border-color: var(--white);
}

.btn-primary-light:hover {
    color: var(--button-lighter-green);
    background-color: var(--white);
    border-color: var(--white);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: var(--button-green);
    border-color: var(--button-green);
    color: var(--white);
    box-shadow: none;
    outline: none;
}

.btn-primary-light:not(:disabled):not(.disabled).active,
.btn-primary-light:not(:disabled):not(.disabled):active,
.show > .btn-primary-light.dropdown-toggle {
    background-color: var(--button-lighter-green);
    border-color: var(--button-lighter-green);
    color: var(--white);
    box-shadow: none;
    outline: none;
}

.btn-primary:focus {
    color: var(--button-green);
    background-color: var(--white);
    border-color: var(--button-green);
    box-shadow: 0 0 0 0.2rem var(--button-green);
}

.btn-primary-light:focus {
    color: var(--button-lighter-green);
    background-color: var(--white);
    border-color: var(--button-lighter-green);
    box-shadow: 0 0 0 0.2rem var(--button-lighter-green);
}

.user-profile-bg {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity)) /* #000000 */;
}

.user-profile-fg {
    --tw-bg-opacity: 1;
    background-color: rgb(39 39 42 / var(--tw-bg-opacity)) /* #27272a */;
}

.user-profile-text {
    color: white;
}

.user-profile-input-fields {
    &:focus {
        outline: var(--sianema-green);
        border-color: var(--sianema-green);
        box-shadow: 0 0 0 0.2rem var(--button-lighter-green);
    }
}

.user-profile-links {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity)) /* #9ca3af */;
    &:hover {
        --tw-text-opacity: 1;
        color: rgb(229 231 235 / var(--tw-text-opacity)) /* #e5e7eb */;
    }
}
