.movie-seat-selection-navbar {
    display: flex;
    background: black;
    padding: 20px 0px;
    justify-content: center;
    position: relative;

    .movie-seat-selection-container {
        width: 70%;

        .top-nav-logo {
            position: absolute;
            left: 10%;
        }

        .movie-seat-selection-header {
            display: flex;
            flex-direction: column;
            margin: 0;
            justify-content: center;
            color:white;

            h3 {
                text-align: center;
                font-weight: 1000;
            }

            .movie-seat-hall-time {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .icon-image {
                    margin: 0 5px;
                }
            }
        }

    }
    
    
}






.selected-seat-display {
    text-align: center;
}

.seat-selection-body {
    padding-top: 40px;
    background: #1d1d1d;
    padding-bottom: 100px;
}

.seat-select-part {
    max-width: 70%;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    margin: 0 auto;
}

.seat-description {
    display: flex;
    max-width: 70%;
    flex-wrap: wrap;
}

    .seat-description p {
        padding: 0px 10px 0px 3px;
    }

.screen-direction {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 30px;
}

    .screen-direction img, .screen-direction p {
        margin: 5px auto;
    }

.seat-container {
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Add gap between seats */
    margin: 0 auto;
    padding-top: 30px;
}

.seat-wrapper-small {
    width: calc((100% - 13 * 10px) / 14); /* Calculate the width of each seat */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.seat-wrapper-large {
    width: calc((100% - 16 * 10px) / 17); /* Calculate the width of each seat */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.seat-number {
    bottom: -20px;
    left: 50%;
    text-align: center;
    font-size: 12px;
    color: white;
}

div.continueButton-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.continueButton {
    padding: 10px 20px;
}