.movie-details-container {
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;

    #movieCoverPhoto {
        width: 100%;
        height: 700px;
        object-fit: cover;
        object-position: center;
        -webkit-mask-image: linear-gradient(to top, transparent 9%, black 80%);
    }

    .movie-details-information-container {
        width: 70%;
        position: absolute;
        bottom: 20px;
    
        #movieName{
            font-size: 50px;
        }
    
        .movie-details-info1 {
            display: flex;
            gap: 5%;
            padding-bottom : 10px;
        }
    
        .movie-details-info2 {
            display: flex;
            gap: 40px;
            padding-bottom: 10px;

            h4{
                font-size: 25px;
            }
        }

        h4{
            font-size: 25px;
        }
    }
    
}

.cinema-date-selection-container {
    display: flex;
    justify-content: center;
    background: #141415;
    height: 100px;

    .cinema-date-selection {
        width: 70%;
        height: 100%;
        justify-content: left;

        .date-selection {
            display: flex;
            list-style-type: none; /* Remove bullet points */
            padding-left: 0px;
            padding-right: 50px; /* Remove default padding */
            height: 100%;
            width: 100%;
        
            li {
                width: 10%;

                .date-button {
                    background-color: #141415;
                    color: white;
                    border: none;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 20px;
                    transition: background-color 0.3s, color 0.3s;
                    height: 100%;
                    width: 100%;
                }

                .date-button:hover {
                    background-color: #008000;
                    color: #ffffff;
                }
            }
        }
    }
}





.movie-time-selection-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 2%;
    background: #1a1a19;

    .movie-time-selection {
        width: 70%;
        padding-bottom: 200px;
        background: black;

        .classic-header {
            font-weight: 1000;
            padding: 40px 0px 30px 40px;
        }

        .chair-image-container {
            padding-left: 50px;

            .chair-image {
                margin-right: 20px;
            }
        }

        .time-button {
            background-color: #1a1a19;
            color: white;
            border: none;
            font-weight: 900;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            transition: background-color 0.3s, color 0.3s;
            margin: 20px 40px;
            padding: 10px 30px;
        }

        .time-button:hover {
            background-color: white;
            color: black;
        }
    }
}







/* .selected-date-button {
    background-color: var(--button-green);
} */
