/* Author: Lim Yu Her */
.container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        margin-top: 10px;
        border-bottom: 1px solid white;
        width: 80%;
        padding-bottom: 10px;

        h2 {
            text-align: center;
            color: white;
            font-size: x-large;
            font-weight: bold;
        }
    }

    .tabContainer {
        width: 80%;
        ul {
            display: flex;
            flex-direction: row;
            li {
                margin: 0px;
                button {
                    width: 200px;
                }
            }
        }
    }

    #transaction-history-content {
        width: 80%;
        .tab-content {
            width: 100%;
            .emptyTextBox {
                height: calc(50vh);
            }
            .card-container {
                width: 100%;
                background-color: rgb(48, 48, 48);
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                .card-title {
                    width: 60%;
                    margin-bottom: 10px;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    h5 {
                        flex-grow: 1;
                        font-size: x-large;
                        font-weight: bold;
                        color: white;
                    }
                    .card-title-2 {
                        margin-top: 20px;
                        display: flex;
                        flex-direction: row;
                        p {
                            color: white;
                            align-self: center;
                            justify-items: center;
                            font-size: large;
                        }
                        .movie-genre {
                            width: 150px;
                        }
                        .movie-duration {
                            width: 200px;
                        }
                        .movie-language {
                            width: 220px;
                        }
                    }
                }

                .card-text {
                    margin-left: 20px;
                    margin-bottom: 10px;
                    width: 80%;
                    display: flex;
                    flex-direction: row;

                    div {
                        p {
                            color: white;
                            font-size: large;
                        }
                    }

                    .movie-hall-type {
                        width: 150px;
                    }

                    .movie-hall-number {
                        width: 200px;
                    }

                    .movie-date-time {
                        width: 220px;
                    }

                    .number-of-seats {
                        width: 120px;   
                    }
                    .booked-seats {
                        width: 250px;
                    }
                }

                .btn-more-details {
                    padding: 15px;
                    width: fit-content;
                }

                .button-wrapper {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}
