.container{
    margin-left: 100px;
    margin-right: 100px;

    .tabContainer {
        ul {
            display: flex;
            flex-direction: row;

            li{
                margin: 0px;
                button{
                    width:200px;
                }
            }
           
        }
    }
}

